.addModal{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 0px;
    width:632px;
    height:300px;
    margin:auto;
    margin-top: 150px;
    // gap: 120px;
    
    // position: absolute;
    left:35%;
    // right: 0%;
     top: 55%;
    // bottom: 0%;
    background: #FFFFFF;
    border-radius: 8px;
    }